<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>SignUp System </title>
</head>
<body>
    <div class="main-div1">
       {% include "navbar.html" %}
        <div class="head">
            <h1>Signup As a</h1>
            <div class="reg-div">
                <div class="sub-1">
                    <span>Patient</span><a href="patient">

                    <img src="/static/patient.jpg" alt=""></a>
                </div>
                <div class="sub-2">
                    <span>Doctor</span><a href="doctor">
                    <img src="/static/doctor.jpg" alt=""></a>
                </div>
            </div>
            <div class="log-div">
            
                <div class="sub">
                    <span> Already have a Account log in</span>
                    <button class="btn"><a href="login">Log In</a></button>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>