<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
   {% include "navbar.html" %}
    <div class="main-login">
        <div class="log-box">
            <div class="main-form">
                <h1>Log In</h1>
                <form action="" >
                    <label for="">Enter User Name</label>
                    <input type="text" name="phoneno" placeholder="Enter User Name">
                    
                    <label for="">Enter Password</label>
                    <input type="text" name="phoneno" placeholder="Enter password">
                    

                    <button type="submit" class="btn">Log In</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>